<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form> 
      <textarea name="words_to_translate">Enter the phrase you want to translate into piglatin here.</textarea>
    </form>
  </body>
</html>